*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.site span{
	padding-left: 2%;
}
.site a{
	color: black;
}
.navbar{
	padding-top: 2.5%;
	background: #D6D6D6;
}
.articulo a{
	color: white;
	padding: 1%;
	background: #929292;
}
.article{
	margin-top: 2%;
}
.article span{
	margin-left: 1%;
}
.glyphicon, .mdi-label{
	font-size: 1.3em;
}
.tag{
	padding-left: 10%;
}
.articulo1 a{
	background: #000000;
}
.articulo1 .article{
	padding-left: 1.5%;
}
.articulo1{
	padding-top:2%;
	margin-top: 3%;
	margin-bottom: 2%;
	padding-bottom: 3%;
	border-bottom: 1px #D6D6D6 solid;
}
.articulo2{
	margin-top: 3%;
	margin-bottom: 2%;
}
.foto{
	width: 100%;
	height: 180px;
	background: #AAAAAA;
	padding-top: 20%;
	margin-bottom: 3%;
}
.video{
	width: 100%;
	background: #D6D6D6;
	padding: 3% 2%;
	margin-bottom: 2%;
}
.cajavideo{
	margin-top: 2%;
	width: 100%;
    height: 200px;
    background: white;
    border: 1px solid #7a7a7a;
}
.botones .mdi, hr{
	position: relative;
    bottom: 70px;
	font-size: 2em;
}
hr{
	width: 65%;
	height: 4px;
	background: white;
	bottom:33px;
	left: 40px;
}
.botones{
	width: 100%;
    height: 40px;
    border: 1px solid #7a7a7a;
    background: #E6E6E6;
    position: relative;
    bottom: -160px;
}
.botones .mdi-play{
    top: 4px;
    left: 3%;
}
.botones .mdi-record{
    left: 35%;
}
.botones .mdi-volume-high{
	left: 70%;
}
.botones .mdi-crop-free{
	left: 70%;
}
.mas{
	padding-left: 25%;
}
.lorem{
	font-size: 0.87em;
	color: #A2A2A2;
}
.fecha{
	background: #AAAAAA;
    width: 80px;
    height: 80px;
    padding-top: 15%;
    font-size: 1.5em;
    color: black;
}
.calendario{
	padding-bottom: 2%;
	border-bottom: 1px #D6D6D6 solid;
}
.later{
	border-bottom: 1px #D6D6D6 solid;
}
.info{
	font-size: 0.91em;
}
.magazine{
	background: #EBEBEB;
	padding: 2% 5%;
	margin-top: 2%;
}
.footer{
	border-top: 4px #444444 solid;
	padding-top: 2%;
}
.ya{
	height: 200px;
}
@media screen and (max-height: 700px){
	.title{
		font-size: 2.2em;
	}
	.site ul{
		padding-top: 6%;
		padding-left: -10%;
		font-size: 0.83em;
	}
	.navbar-brand{
		padding: 0px;
	}
}